// 颜色定义规范
$color-background = #f2f3f4
$color-background-l = #fdfdfd
$color-background-d = rgb(228, 228, 228)
$color-sub-background = #0057d1
$color-highlight-background = #2b86e0
$color-dialog-background = #e3e3e3

$color-theme = #0057d1
$color-theme-l = #f7f6e7
$color-theme-d = rgba(0, 87, 146, 0.5)
$color-sub-theme = rgb(255, 189, 57)

$color-text = rgb(0, 32, 74)
$color-text-d = rgba(35, 49, 66, 0.4)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.9)

//字体定义规范
$font-size-small-x = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px